
.flex-container {
    display: flex;
    flex-direction:row;
  
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
  
  }

  .chart {
    display: flex;
    flex-direction:row;
  
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
  
  }